*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 1440px;
    font-family: 'Inter', sans-serif;
    background-color: #FDFCFC;
    padding: 0;
    margin: 0;
    position: relative;
}

.circle {
    width: 679px;
    height: 679px;
    border-radius: 50%;
    background: url("img/Ellipse2.svg") no-repeat center center;
    background-size: 679px 679px;
    position: absolute;
    top: -324px;
    left: -221px;

}

.container {
    width: 1065px;
    margin: 0 auto;
}

.nav-bar {
    width: 1076px;
    margin: 46px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item{
    display: flex;
    gap: 44px;  
}

li {
    display: inline;
    text-decoration: none;
    color: #272D38;
}

.digital {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #272D38;
}
.menu-list {
    text-decoration: none;
    color: #272D38;
    list-style-type: none;
    display: inline;
    gap: 44px;
    font-size: 18px;
    font-weight: 400;
}

.container-building{
    display: inline-flex;
    margin-top: 97px;   
}

.main-text{
    margin: 0 75px 0 0;
}

.main-header{
    margin: 42px auto 0;
    font-size: 64px;
    font-weight: 700;

}

.p-main{
    font-size: 18px;
    font-weight: 400;
    margin: 24px auto 0;
}

.btn-contact-us{
    width: 167px;
    height: 48px;
    background-color: #8EADD5;
    border-radius: 8px;
    border: 0;
    color:#FFFFFF;
    font-size: 16px;
    margin: 39px auto 0;
}

.container-company-trust{
   
    width: 915px;
    margin: 157px auto 0;
}

.p-trusted{
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    gap: 115px;
    width: 867px;
    margin: 16px auto 0;
}

.logos-list{
    display: flex;
    gap: 115px;
}
