*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FDFCFC;
    padding: 0;
    margin: 0;
    position: relative;
}

.circle {
    width: 679px;
    height: 679px;
    border-radius: 50%;
    background: url("img/Ellipse2.svg") no-repeat center center;
    background-size: 679px 679px;
    position: absolute;
    top: -324px;
    left: -221px;

}

.nav-bar {
    width: 1076px;
    margin: 46px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1065px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu-list{
    display: flex;
    gap: 44px;  
}

li {
    display: inline;
    text-decoration: none;
    color: #272D38;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    line-height: 24.2px;
    color: #272D38;
    text-transform: uppercase;
}
.menu-item {
    text-decoration: none;
    color: #272D38;
    list-style-type: none;
    display: inline;
    gap: 44px;
    font-size: 18px;
    font-weight: 400;
}

.hero-section{
    margin-top: 97px;   
}

.main-hero-section{
    margin-right: 75px;
}

.main-hero-section-heading{
    margin: 42px auto 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
}

.main-hero-section-text{
    width: 525px;
    font-size: 18px;
    font-weight: 400;
    margin: 42px 0 0 0;
    line-height: 27.5px;
}

.button-hero-section{
    background-color: #8EADD5;
    border-radius: 8px;
    border: 0;
    color:#FFFFFF;
    font-size: 16px;
    padding: 10px 31px 10px 31px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 27.5px;
}

.button-hero-section{
margin-top: 39px;
}

.companies-section{
    display: block;
    width: 915px;
    margin-top: 157px;
    background-color: #F6F6F6;
    border-radius: 8px;
}

.companies-section-text{
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.companies-section-logos{
    display: flex;
    flex-wrap: wrap;
    gap: 115px;
    width: 867px;
    margin: 16px 0 0 0;
}

.companies-section-logos-list{
    display: flex;
    gap: 115px;
}

.main-section{
    margin: 136px auto 0;
}

.image-custome-section{
    margin: 0 179px 0 0;
}

.main-block{
    width: 435.69px;
}

.heading-main-block{
    width: 435.69px;
    margin: 97px 0 0 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.text-main-block{
    margin: 25px 43px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.5px;
}

.main-section-arrow{
    margin: 45px auto 0 0;
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}

.image-businessman-analyzing{
    margin: 0 0 0 179px;
}

.main-testimonial{
    display: block;
}

.testimonial-list{
    display: block;
    margin: 0 auto;
}

.testimonial-text{
    margin: 0 auto;
    text-align: center;
}

.testimonial-heading{
    margin: 16px auto 0;
    text-align: center;
}

.testimonial-personal{
    display: flex;
    margin: 38px 0 0 0;
}

.testimonial{
    width: 345px;
    background-color: #F6F6F6;
    border-radius: 20px;
    text-align: center;
}
.testimonial:not(:last-child){
    margin-right: 15px;
}

.profile-image{
    width: 129px;
    border-radius: 96.5px;
}

.profile-name{
    font-size: 18px;
    font-weight: 400;
    margin: 8px auto;
    line-height: 27.5px;
}

.description-personal{
    width: 281px;
    font-size: 14px;
    font-weight: 300;
    margin: 27px auto 0;
    line-height: 18.2px;
}

.container-section :nth-child(4){
    background-color: black;
    border-radius: 20px;
}

.customer-suppoter-image{
    margin: 0 90px 0 75px;
}

.customer-text{
    width: 360px;
}

.footer-block{
    /* margin-top: 138px; */
    /* display: flex; */
    margin: 138px auto 0;
    /* height: 443px; */
}

.footer-menu{
    display: flex;
    color: #272D38;
    /* margin: 0 auto; */
    padding-left: 183.32px;
    
}

.logo-link{
    width: 189.29px;
    margin: 105px 178px 0 0;
    padding: 0;    
}

.building-link{
    margin: 32px 0 0 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    color: #272D38;
}

.resources-footer{
    width: 141px;
    margin: 105px 178px 0 0;
    padding: 0;
}

.company-footer{
    width: 85.23px;
    margin: 105px 178px 0 0;
    padding: 0;
}

.social-media-footer{
    width: 124px;
    margin: 105px 0 0 0;
    padding: 0;
}

.footer-list{
    font-size: 18px;
    font-weight: 700;
    line-height: 27.5px;
}

.first-item-link{
    display: block;
    margin: 32px auto 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-decoration: none;
    color: #272D38;
}

.link-item{
    display: block;
    text-decoration: none;
    margin-top: 24px; 
    text-decoration: none;
    color: #272D38;
}

.footer-copyright{
    text-align: center;
    margin-top: 110px;
}
/* 
@media (max-width:1000px){
 .nav-bar  {
    max-width: 400px;
}
}

@media (max-width:1000px){
    .container-section  {
       max-width: 400px;
   }
   }
   

   @media (max-width:1000px){
    footer {
       max-width: 400px;
   }
   }

   @media (max-width:1000px){
    .logos {
       max-width: 400px;
   } */
/* } */
   
      
